{% extends 'base-front.html.twig' %}

{% block body %}


<div class="container">
 
{# --------- CAROUSSEL BOOTSTRAP -------- #}

    <div id="carouselExampleIndicators" class="carousel slide my-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="{{asset('build/images/animalerie_carousel_1.jpg')}}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
        <img src="{{asset('build/images/animalerie_carousel_2.jpg')}}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
        <img src="{{asset('build/images/animalerie_carousel_3.jpg')}}" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>

{# ------------ FIN CAROUSEL ---------- #}

    <div class="lastProduct my-3 row">
        <h3 class="my-4">Derniers produits:</h3>
        <div class="row">
            {% for product in lastProducts %}
                <div class="col-2">
                    {% include 'common/_productCardView.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="BestSells my-3 row">
        <h3 class="my-4">Meilleurs Ventes:</h3>
        {% for product in bestSells %}
            <div class="productCardView text-center col-2">
                <div class="productImage">
                    <img src="{{asset('build/images/default-placeholder.png')}}" alt="image produit">
                </div>
                <div class="productDetail">
                    <h6 class="mb-0 mt-2">{{product[0].brand.label}}</h6>
                    {{product[0].label}}<br>
                    <strong>{{product[0].price / 100}}€</strong>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="brand my-3 row">
        <h3 class="my-4">Marques populaires:</h3>
        {% for brand in brands %}
            <div class="brandCardView text-center col-lg-6 p-0">
                <div class="brandImage ">
                    <img src="{{asset('build/images/default-placeholder.png')}}" alt="image produit">
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="BargainProducts my-3 row">
        <h3 class="my-4">Les Bons Plans:</h3>
            <div class="row">
        {% for product in bargains %}
            <div class="col-2">
                {% include 'common/_productCardView.html.twig' %}
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
