{% extends 'base-front.html.twig' %}

{% block body %}

    <div class="container my-3">

        <h1 class="my-5">Ajouter un produit:</h1>
        {{form_start(form)}}
            {{form_row(form.label)}}
            {{form_row(form.description)}}
            {{form_row(form.brand)}}
            {{form_row(form.categories)}}
            {{form_row(form.stock)}}
            {{form_row(form.price)}}
            {{form_row(form.isActif)}}
            <button class="btn btn-success">Valider</button>
        {{form_end(form)}}
    </div>

{% endblock %}